<%= form_with url: transactions_path, method: :post do |form| %>
    <%= form.label :zip_code, "Code postal" %>
    <%= form.text_field :zip_code %>
    <%= submit_tag 'Afficher les transactions' %>
<% end %>